.sign__button-subtitle {
    margin-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-family: Inter;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}