.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A9A9A9;
    font-family: Inter;
    cursor: pointer;
    margin-top: 6px;
    text-decoration: none;
}

.header__link.active {
    display: none;
}