.profile__avatar-overlay {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.profile__avatar:hover .profile__avatar-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}